<!DOCTYPE>
<html>
    <head>
        <title>Asked named</title>
        <meta charset = "utf-8">
    </head>
    <body>
        <h1>ASKED</h1>
        <a href="/">홈으로</a>
        <%=yield%>
    </body>
</html>